$fz18:0.18rem;
$fz20:0.2rem;
$fz22:0.22rem;
$fz24:0.24rem;
$fz26:0.26rem;
$fz28:0.28rem;
$fz30:0.3rem;
$fz32:0.32rem;
$fz36:0.36rem;
$fz40:0.4rem;
$phd:#999;
$lineColor:#E6E6E6;
$C333333:#333333;
$mainBtnColor:#E7580C;
